---
// Sticky sidebar Section with transparency
// ------------
// Description: A section with a sticky sidebar. The sticky sidebar content is using the "sidebar" slot
// Properties:
// - id: The id of the section
// - type: determines the position of the sticky sidebar (left or right)
// - SectionType: determines the type of the section (alt or none)
// - SectionDecorationBorder: determines the border of the section (corners, all or none)
// - classes: Additional classes to be added to the section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// Content
// - Props
type Props = {
	id?: string
	type?: 'left' | 'right'
	SectionType?: 'alt' | 'none'
	SectionDecorationBorder?: string
	classes?: string
}
const {
	id,
	type = 'left',
	classes,
	SectionType = 'none',
	SectionDecorationBorder = 'none'
} = Astro.props
---

<Section
	{...id ? { id } : {}}
	classes={`${classes} overflow-visible!`}
	stickyCol
	decorationBorder={SectionDecorationBorder}
	type={SectionType}
>
	<Row classes="gap-6! lg:gap-8!" style="transparent">
		<Col
			span="4"
			classes={"pt-16 lg:pt-24 border-b border-b-neutral-200 dark:border-b-neutral-700 lg:border-b-0 lg:border-r lg:border-r-neutral-200 dark:border-r-neutral-700 bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed " +
				(type === 'right' ? 'lg:order-2' : '')}
		>
			<div class="sticky-sidebar">
				<slot name="sidebar" />
			</div>
		</Col>
		<Col
			span="8"
			classes="lg:border-l lg:border-neutral-200  dark:border-neutral-700 pt-0 lg:pt-32"
			style="transparent"
		>
			<slot />
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.sticky-sidebar {
		@apply lg:sticky lg:top-28;
	}
</style>
