---
// Testimonial Masonry
// ------------
// Description: A testimonial masonry section with a title, a subtitle, a description and a grid of brands
// Properties:
// - title: The title of the testimonial masonry section
// - subtitle: The subtitle of the testimonial masonry section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import TestimonialCard from '../../ui/cards/TestimonialCard.astro'
import Header from '../../ui/Header.astro'

// Content
// - Props
type Props = {
	title?: string
	subtitle?: string
}
const { title = '', subtitle = '' } = Astro.props
---

<Section classes="bg-neutral-300/20! dark:bg-neutral-600/20!">
	<Row classes="bg-white/20! dark:bg-neutral-950/20!">
		<Col span="12" classes="pt-16 lg:pt-24 pb-8!" style="transparent">
			<Header title={title} subtitle={subtitle} headingLevel="h2" titleWidth="max-w-2xl" />
		</Col>
	</Row>
	<Row decorationBorder="bottom left right" style="transparent">
		<Col span="8" style="transparent">
			<TestimonialCard
				quote="We’ve tried countless tools, but this one stands out for its clarity, speed, and reliability. It keeps our team aligned and projects moving forward effortlessly."
				quoteClasses="max-w-[42rem] lgmax-w-[50rem]"
				author="Mark T."
				position="Product Manager"
				decorationType="left right bottom"
			/>
		</Col>
		<Col span="4" style="transparent">
			<TestimonialCard
				quote="It’s elegant, easy to use, and helps us stay focused on what matters."
				quoteClasses="max-w-[42rem] lgmax-w-[50rem]"
				author="Jane & Jones K."
				position="Sudo founders"
				decorationType="left right bottom"
			/>
		</Col>
		<Col span="4" style="transparent" classes="flex flex-col gap-8">
			<TestimonialCard
				quote="A clean, intuitive design paired with solid performance makes it our daily favorite."
				author="Daniel R"
				position="Startup Founder"
				decorationType="top left right bottom"
			/>
		</Col>
		<Col span="8" style="transparent">
			<TestimonialCard
				quote="This product transformed our workflow. Simple to adopt, quick to master, and powerful enough to scale with us. It feels custom-built for our team’s needs. Just awesome!"
				author="Sue Langan"
				position="Product Designer"
				decorationType="top left right bottom"
				classes="h-full"
			/>
		</Col>
	</Row>
</Section>
<style>
	@reference '../../../styles/global.css';
	.brand-grid {
		@apply col-span-12 flex w-full flex-wrap gap-0! overflow-hidden border-b border-neutral-200 transition-colors duration-300 ease-in-out dark:border-neutral-700;
	}
	.col {
		@apply flex basis-1/2! items-center justify-center md:basis-1/3! md:last:hidden lg:basis-1/5! lg:last:flex;
	}
	.brand-grid--item {
		@apply flex h-[9rem] w-full items-center justify-center bg-white outline outline-neutral-200 transition delay-300! duration-700 ease-in-out group-hover:bg-white/0 group-hover:opacity-40 hover:delay-0! group-hover:hover:bg-white group-hover:hover:opacity-100 group-hover:hover:blur-none lg:group-hover:bg-neutral-100 dark:bg-neutral-950 dark:outline-neutral-700 dark:group-hover:bg-neutral-900 dark:group-hover:hover:bg-neutral-950;
	}
</style>
