---
// Basic Hero CTA
// ------------
// Description: A hero section with a title and a subtitle
// Properties:
// - title: The title of the hero section
// - text: The subtitle of the hero section
// - buttonText: The text of the button
// - buttonLink: The link of the button
// - classes: Additional classes to be added to the hero section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../ui/Button.astro'

// Content
// - Props
type Props = {
	title?: string
	text?: string
	buttonText?: string
	buttonLink?: string
}
const {
	title = 'Launch your next big idea today',
	text = 'Join creators, teams, and startups already turning their ideas into reality. Get started in minutes and see how simple launching can be when everything works together seamlessly.',
	buttonText = 'Try it for free!',
	buttonLink = '/pricing'
} = Astro.props
---

<Section>
	<Row>
		<Col span="1" style="transparent" />
		<Col span="10">
			<div class="cta">
				<div class="cta__content">
					<h2 class="cta__title h1">{title}</h2>
					<p class="cta__text">{text}</p>
					<Button link={buttonLink} style="white" classes="w-full lg:w-auto">{buttonText}</Button>
				</div>
				<div class="cta__bg-color"></div>
				<div class="cta__bg-image"></div>
				<div class="cta__bg-circles" aria-hidden="true">
					<span class="circle circle--lg"></span>
					<span class="circle circle--md"></span>
					<span class="circle circle--sm"></span>
				</div>
			</div>
		</Col>
		<Col span="1" style="transparent" />
	</Row>
</Section>
<style>
	@reference '../../../styles/global.css';
	.cta {
		@apply relative flex flex-col overflow-hidden p-6 text-white lg:p-24;
	}
	.cta__content {
		@apply relative z-10;
	}
	.cta__title {
		@apply max-w-3xl text-inherit;
	}
	.cta__text {
		@apply max-w-2xl text-2xl leading-loose text-inherit;
	}

	.cta__bg-image {
		@apply absolute inset-0 z-0 bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed opacity-50;
	}
	.cta__bg-color {
		@apply absolute inset-0 z-0 bg-linear-[135deg,#F97316_0%,#EA580C_35%,#F97316_70%,#F46F16_100%];
	}
	.cta__bg-circles {
		@apply pointer-events-none absolute inset-0 z-[1] overflow-visible;
	}
	.cta__bg-circles .circle {
		@apply animate-pulsing absolute right-0 bottom-0 aspect-square translate-x-[50%] translate-y-[50%] rounded-full border border-dashed border-white/30 bg-white/5 transition-transform duration-2000;
	}
	.cta:hover .circle {
		@apply scale-110;
	}
	.cta__bg-circles .circle--lg {
		@apply w-[110%] lg:w-[80%];
		animation-delay: 2s;
	}
	.cta__bg-circles .circle--md {
		@apply w-[80%] lg:w-[60%];
		animation-delay: 1s;
	}
	.cta__bg-circles .circle--sm {
		@apply w-[50%] lg:w-[40%];
	}
</style>
