---
// Card Header
// ---------------
// Description: The header of the card
// Properties:
// - DecorationType: the decoration type of the card header
// - DecorationStyle: the decoration style of the card header
// - Classes: extra classes for the container

// Components
// - UI
import DecorationBorder from '../../DecorationBorder.astro'

// Content
// - Props
type Props = {
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
	classes?: string
}

const { decorationType = 'none', decorationStyle = 'dashed', classes = '' } = Astro.props
---

<div class:list={['card__header', { [`${classes}`]: classes }]}>
	<slot />
	<DecorationBorder type={decorationType} style={decorationStyle} />
</div>

<style>
	@reference '../../../../styles/global.css';
	.card__header {
		@apply p-6 lg:p-8;
	}
</style>
