---
// Card Footer
// ---------------
// Description: The footer of the card
// Properties:
// - DecorationType: the decoration type of the card footer
// - DecorationStyle: the decoration style of the card footer
// - Classes: extra classes for the container

// Components
// - UI
import DecorationBorder from '../../DecorationBorder.astro'

// Content
// - Props
type Props = {
	decorationType?: string
	decorationStyle?: 'dashed' | 'solid'
	classes?: string
}

const { decorationType = 'none', decorationStyle = 'dashed', classes = '' } = Astro.props
---

<div class:list={['card__footer', { [`${classes}`]: classes }]}>
	<slot />
	<DecorationBorder type={decorationType} style={decorationStyle} />
</div>

<style>
	@reference '../../../../styles/global.css';
	.card__footer {
		@apply relative p-6 lg:p-8;
	}
</style>
