---
// Decoration Border
// ------------
// Description: Decoration border positioned around a component to enhance UI.
// Properties:
// - Type: positions of borders ('all', 'none', or any combination of 'top', 'right', 'bottom', 'left')
// - Style: style of borders ('dashed', 'solid')
// - ExtraClasses: additional CSS classes to apply

// Content
// - Props
type Props = {
	type?: string
	style?: 'dashed' | 'solid'
	extraClasses?: string
}

const { type = '', extraClasses = '', style = 'dashed' }: Props = Astro.props

const ALL_POSITIONS = ['top', 'right', 'bottom', 'left']

let positions: string[] = []

if (type === 'all') {
	positions = ALL_POSITIONS
} else if (type === 'none' || type.trim() === '') {
	positions = []
} else {
	positions = type
		.split(' ')
		.map((p) => p.trim())
		.filter((p) => ALL_POSITIONS.includes(p))
}
---

{
	positions.length > 0 && (
		<div
			class={`decoration-border ${extraClasses} ${style === 'dashed' ? 'decoration-border--dashed' : 'decoration-border--solid'}`}
		>
			{positions.map((pos) => (
				<span class={`decoration-border__${pos}`} />
			))}
		</div>
	)
}

<style>
	@reference '../../styles/global.css';
	.decoration-border > * {
		@apply absolute z-[1];
	}
	.decoration-border__top {
		@apply top-0 right-0 left-0 h-px;
	}
	.decoration-border--solid .decoration-border__top {
		@apply bg-neutral-200 dark:bg-neutral-700;
	}
	.decoration-border--dashed .decoration-border__top {
		@apply bg-[repeating-linear-gradient(90deg,theme(colors.neutral.200)_0_4px,transparent_4px_8px)] dark:bg-[repeating-linear-gradient(90deg,theme(colors.neutral.700)_0_4px,transparent_4px_8px)];
	}
	.decoration-border__right {
		@apply top-0 right-0 bottom-0 w-px;
	}
	.decoration-border--solid .decoration-border__right {
		@apply bg-neutral-200 dark:bg-neutral-700;
	}
	.decoration-border--dashed .decoration-border__right {
		@apply bg-[repeating-linear-gradient(0deg,theme(colors.neutral.200)_0_4px,transparent_4px_8px)] dark:bg-[repeating-linear-gradient(0deg,theme(colors.neutral.700)_0_4px,transparent_4px_8px)];
	}
	.decoration-border__bottom {
		@apply absolute right-0 bottom-0 left-0 z-[1] h-px;
	}
	.decoration-border--solid .decoration-border__bottom {
		@apply bg-neutral-200 dark:bg-neutral-700;
	}
	.decoration-border--dashed .decoration-border__bottom {
		@apply bg-[repeating-linear-gradient(90deg,theme(colors.neutral.200)_0_4px,transparent_4px_8px)] dark:bg-[repeating-linear-gradient(90deg,theme(colors.neutral.700)_0_4px,transparent_4px_8px)];
	}
	.decoration-border__left {
		@apply absolute top-0 bottom-0 left-0 z-[1] w-px;
	}
	.decoration-border--solid .decoration-border__left {
		@apply bg-neutral-200 dark:bg-neutral-700;
	}
	.decoration-border--dashed .decoration-border__left {
		@apply bg-[repeating-linear-gradient(0deg,theme(colors.neutral.200)_0_4px,transparent_4px_8px)] dark:bg-[repeating-linear-gradient(0deg,theme(colors.neutral.700)_0_4px,transparent_4px_8px)];
	}
</style>
