---
// Link
// ------------
// Description: Interactive link element with various types, styles, and sizes.
// Properties:
// - Size: button size (lg, base, sm)
// - Link: URL for link type buttons
// - Icon: Icon to display next to the link
// - Classes: additional CSS classes

// Content
// - Props
type Props = {
	size?: 'lg' | 'base' | 'sm'
	link?: string
	icon?: string
	classes?: string
}
const { size = 'base', link, icon = 'arrow-turn-down-right', classes } = Astro.props

const isAbsoluteURL = (url: string) => /^https?:\/\//i.test(url)
---

<a
	href={link}
	target={link && isAbsoluteURL(link) ? '_blank' : '_self'}
	class:list={['link', { ['link--' + `${size}`]: size }, { [`${classes}`]: classes }]}
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="2"
		stroke="currentColor"
		class="size-4"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499"></path>
	</svg>

	<slot />
</a>
<style>
	@reference '../../styles/global.css';
	.link {
		@apply text-primary-600 hover:text-primary-500 flex cursor-pointer items-center gap-4 font-medium transition-all duration-500 hover:gap-[1.125rem];
	}
	.link--lg {
		@apply text-lg lg:text-xl;
	}
	.link--sm {
		@apply text-sm;
	}
</style>
