---
// Marquee
// ------------
// Description: a component that will marquee the content of the slot (slot components should be inline-block)
// Properties:
// - classes: additional classes

// Content
// - Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<div class:list={['marquee', { [`${classes}`]: classes }]}>
	<div class="marquee--content">
		<slot />
	</div>
	<div class="marquee--content-followup">
		<slot />
	</div>
</div>
<style>
	@reference '../../styles/global.css';
	.marquee {
		@apply relative overflow-x-hidden before:absolute before:right-0 before:left-0 before:z-[1] before:h-full before:w-12 before:bg-gradient-to-r before:from-neutral-50 before:to-transparent after:absolute after:top-0 after:right-0 after:z-[1] after:block after:h-full after:w-12 after:bg-gradient-to-l after:from-neutral-50 after:to-transparent lg:before:w-24 lg:after:w-24 dark:before:from-neutral-950 dark:before:to-transparent dark:after:from-neutral-950 dark:after:to-transparent;
	}
	.marquee--content {
		@apply animate-marquee flex w-max flex-row whitespace-nowrap;
	}
	.marquee--content-followup {
		@apply animate-marqueeFollowup absolute top-0 flex w-max flex-row whitespace-nowrap;
	}
</style>
