---
// Theme Switcher
// ------------
// Description: the theme switcher component is a ui element that allows users to switch between light and dark mode.

// Components
// - UI
import { Icon } from 'astro-icon/components'
---

<div id="theme-selector">
	<Icon name="moon" class="hidden size-6 dark:block" />
	<Icon name="sun" class="block size-6 dark:hidden" />
</div>

<style>
	@reference '../../styles/global.css';
	#theme-selector {
		@apply relative order-3 ml-auto flex h-full w-22 cursor-pointer items-center justify-center text-neutral-950 transition-colors duration-300 hover:text-neutral-950 focus:text-neutral-950 focus:outline-hidden focus-visible:outline-hidden lg:ml-0 lg:text-neutral-500 dark:text-white dark:hover:text-white lg:dark:text-neutral-400;
	}
</style>
