---
// Section Spacer
// ------------
// Description: A spacer component for sections with optional primary and neutral styles.
// Properties:
// - Style: style of the spacer ('primary', 'neutral')
// - ExtraClasses: additional CSS classes to apply

// Components
// - UI
import DecorationBorder from '../../components/ui/DecorationBorder.astro'

// Content
// - Props
type Props = {
	style?: 'primary' | 'neutral'
	extraClasses?: string
}
const { style = 'primary', extraClasses = '' }: Props = Astro.props
---

<div class:list={[`section-spacer section-spacer--${style}`]}>
	<div class="container">
		<div class="spacer">
			<DecorationBorder type="left right" />
		</div>
	</div>
</div>

<style>
	@reference '../../styles/global.css';

	.spacer {
		@apply relative h-4 w-full bg-white/60 md:h-6 lg:h-8 dark:bg-neutral-950/60;
	}
	.section-spacer--primary .spacer {
		@apply bg-primary-500/80;
	}
</style>
