---
// Contact Info Cards
// ------------
// Description: A contact info cards section with a title
// Properties:
// - title: The title of the contact info cards section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ActionCard from '../../ui/cards/ActionCard.astro'
import DecorationBorder from '../../ui/DecorationBorder.astro'

// Content
// - Props
type Props = {
	title?: string
}
const { title = '' } = Astro.props
---

<Section>
	<Row decorationBorder="top left " gapY="0" style="transparent">
		<Col
			span="12"
			classes="px-8 py-12 relative bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed "
		>
			<h2 class="h5 mb-0! text-center leading-0">{title}</h2>
			<DecorationBorder type="bottom" style="dashed" />
		</Col>
	</Row>
</Section>
<Section>
	<Row decorationBorder="top left right bottom" gapY="0" style="transparent">
		<Col span="4" style="transparent">
			<ActionCard title="Support" link="mailto:support@mizu.com" linkText="Contact Support">
				<p>
					Our support team is here to help you troubleshoot issues, answer questions, and make sure
					your launch experience runs smoothly.
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="Sales" link="mailto:sales@mizu.com" linkText="Connect with Sales">
				<p>
					Curious about pricing, plans, or enterprise solutions? Our sales team will help you find
					the best fit for your launch.
				</p>
			</ActionCard>
		</Col>
		<Col span="4" style="transparent">
			<ActionCard title="Requests" link="mailto:requests@mizu.com" linkText="Submit Request">
				<p>
					Looking for a custom feature, partnership, or something outside the box? Let’s explore how
					we can launch it together.
				</p>
			</ActionCard>
		</Col>
	</Row>
</Section>
