---
// Brand Marquee
// ------------
// Description: A brand marquee section with a title
// Properties:
// - title: The title of the brand marquee section
// - classes: Additional classes to be added to the brand marquee section

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import DecorationBorder from '../../ui/DecorationBorder.astro'
import { Image } from 'astro:assets'
import LogosMarquee from '../../ui/Marquee.astro'

// Content
// - Images
import logo01 from '../../../assets/logos/logo-01.svg'
import logo02 from '../../../assets/logos/logo-02.svg'
import logo03 from '../../../assets/logos/logo-03.svg'
import logo04 from '../../../assets/logos/logo-04.svg'
import logo05 from '../../../assets/logos/logo-05.svg'
import logo06 from '../../../assets/logos/logo-06.svg'
import logo07 from '../../../assets/logos/logo-07.svg'
import logo08 from '../../../assets/logos/logo-08.svg'
import logo09 from '../../../assets/logos/logo-09.svg'
import logo10 from '../../../assets/logos/logo-10.svg'
const images = [
	{ image: logo01, alt: 'logo-01' },
	{ image: logo02, alt: 'logo-02' },
	{ image: logo03, alt: 'logo-03' },
	{ image: logo04, alt: 'logo-04' },
	{ image: logo05, alt: 'logo-05' },
	{ image: logo06, alt: 'logo-06' },
	{ image: logo07, alt: 'logo-07' },
	{ image: logo08, alt: 'logo-08' },
	{ image: logo09, alt: 'logo-09' },
	{ image: logo10, alt: 'logo-10' }
]
// - Props
type Props = {
	title?: string
}
const { title = '' } = Astro.props
---

<Section>
	<Row decorationBorder="top left right" gapY="0">
		<Col
			span="12"
			classes="px-8 py-12 relative bg-[url('/bgs/dot-gray-light.svg')] bg-size-[18px] bg-fixed dark:bg-[url('/bgs/dot-gray-dark.svg')] dark:bg-size-[18px] dark:bg-fixed "
		>
			<h2 class="h5 mb-0! text-center leading-0">{title}</h2>
			<DecorationBorder type="bottom" style="dashed" />
		</Col>
		<Col span="12">
			<LogosMarquee classes="group">
				{
					images.map((item) => (
						<div class="brand-grid--item">
							<Image src={item.image} alt={item.alt} height="24" />
						</div>
					))
				}
			</LogosMarquee>
		</Col>
	</Row>
</Section>

<style>
	@reference '../../../styles/global.css';
	.brand-grid--item {
		@apply flex h-20 w-full min-w-52 items-center justify-center bg-white outline outline-neutral-200 transition delay-300! duration-700 ease-in-out group-hover:bg-white/0 group-hover:opacity-40 group-hover:blur-[1px] hover:delay-0! group-hover:hover:bg-white group-hover:hover:opacity-100 group-hover:hover:blur-none lg:h-[9rem] lg:min-w-72 lg:group-hover:bg-neutral-100 dark:bg-neutral-950 dark:outline-neutral-700 dark:group-hover:bg-neutral-900 dark:group-hover:hover:bg-neutral-950;
	}
</style>
